{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="login-banner text-center">
            <h1><i class="fa fa-gears"></i> CodeGirls Quiz</h1>
        </div>
        <div class="portlet portlet-green">
            <div class="portlet-heading login-heading">
                <div class="portlet-title">
                    <h4 class="text-center"><strong>Login to CodeGirls Quiz!</strong>
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">

                <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />   
                    {% if error %}
                        <h5 class="spacer text-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</h5>
                    {% endif %}
                    <fieldset>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="_username" required="required" placeholder="Username or E-mail" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Password"  />
                            <small class="help-block pull-right">
                                <a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a>
                            </small>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="_remember_me" type="checkbox" value="Remember Me" id="rememberme" >Remember Me
                            </label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-lg btn-green btn-block"><i class="fa fa-key"></i> Sign In</button>
                    </fieldset>
                </form>
                <br>
                <p class="text-center">
                    You don't have an account?
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default btn-block"><i class="fa fa-arrow-circle-o-right"></i> Register Now</a>
                </p>

            </div>
        </div>
    </div>

{% endblock %}

