{% extends '::base.html.twig' %}

{% block pagetitle %}
    <h1>{% trans %}View Quiz{% endtrans %} {{ app.user }}
        <small>{% trans %}Quiz{% endtrans %}</small>
    </h1>
{% endblock pagetitle %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> {% trans %}View Quiz{% endtrans %}</li>
    </ol>
{% endblock breadcrumb %}

{% block body -%}

<dic class="row">
    <div class="col-sm-12">
        <div class="portlet portlet-blue">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>
                        {{ quiz }}
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <p>
                    {{ quiz.description }}
                </p>
            </div>
        </div>
        </div>
    <div class="col-sm-12">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>
                        Αποτελέσματα
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <h2 class="text-success">
                    Συγχαρητήρια! Ολοκλήρωσες το quiz! Παρακάτω φαίνεται ο αριθμός των ερωτήσεων που είχες σωστές!
                </h2>
                <h3>Οι σωστές απαντήσεις που έδωσες ήταν {{ correct }}</h3>
            </div>
            <div class="portlet-footer">
                <div class="pull-right">
                    <a href="{{ path('userquiz_reset', {'slug': quiz.slug}) }}" class="btn btn-danger btn-sm">Ξεκίνα από την αρχή</a><br/>
                    <small>Οι απαντήσεις που έχεις δώσει θα χαθούν!</small>
                </div>
    <div class="clearfix"></div>
            </div>
        </div>

    </div>
</dic>




    {% endblock %}
