{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>Quiz</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Ερωτήσεις <small><a href="{{ path('quizquestion_new', {'quizId':entity.id}) }}" class="btn btn-success btn-sm">Προσθήκη</a> </small></h3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Order</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.question }}</td>
                <td>{{ question.ordering }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <ul class="record_actions">
    <li>
        <a href="{{ path('quiz') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
